div(ng-include='"components/navbar/navbar.html"')


header#banner.hero-unit
  .container
    h3 Admin users
    p
      br
      | &nbsp;


.container

  button.btn.btn-create(ng-click='addUser()') +
    span &nbsp;User


  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='delete(user)')
        i.fa.fa-times
