


body.admin{


  .fade-in {
    &.admin-container {
      .container {
        opacity: 1;
      }
    }
  }

  .admin-container {

    cursor: default;

    .container {
      .transition(opacity 0.4s ease);
      opacity: 0;
    }
  }


  .btn.btn-create {
    margin-top: 45px;
    margin-right: 0;
  }


  .page-header {
    font-family: museo;
    font-weight: 400;
    border: 0;
    color: @grey-light-2;
    margin-left: 0;
  }


  .user-role {

    text-transform: uppercase;
    font-size: 0.8em;

    color: @grey-light-2;

    position: relative;

  }


  ul.list-group {

    margin-top: 10px;

    li {
      border: 0;
      border-radius: 0;
      margin-top: 10px;


      a.trash {

        position: relative;
        top: -12px;


        float: right;
        color: @gray;

        .transition(all 0.2s ease);

        &:hover {
          cursor: pointer;
          color: @gray-lighter;
        }

        font-size: 1.3em;
        text-shadow: none;
        &:focus {outline:0;}

      }

      span {
        color: @gray-darker;
      }


      background-color: @gray-light;
    }

  }


}
