div

  div(ng-include='"components/navbar/navbar.html"')

  .admin-container(ng-class='{"fade-in": fadeIn}')

    header#banner.hero-unit
      .container
        h3 Admin
        p
          br
          | &nbsp;


    .container

      .row
        .col-sm-10.col-sm-offset-1
          .row
            .col-xs-10
              h1.page-header Users
            .col-xs-2
              button.btn.btn-create(ng-click='addUser()') +
                span &nbsp;Create User

          .row
            .col-sm-12
              ul.list-group
                li.list-group-item(ng-repeat='userItem in users track by $index')
                  .row
                    //.col.xs-1.col-sm-2.user-role {{user.role}}
                    .col-xs-12.col-sm-12
                      .row.no-margin
                        .col-xs-4.user-name-container
                          strong.user-name {{userItem.name}}
                          br
                          span.text-muted.user-email {{userItem.email}}
                        .col-xs-7
                          //style='width: {{100/roles.length + "%;"}} '
                          div.roles-container(ng-repeat='role in roles track by $index')
                            button.btn.btn-role.user-role(ng-class='{"is-active": userItem.role === role}', ng-click='setUserRole($event, userItem, role)') {{role}}
                        .col-xs-1.delete-container
                          a.trash(ng-click='delete(userItem)')
                            i.fa.fa-times

