// Colors
// --------------------------------------------------

@btnText:                           #fff;
@btnTextAlt:                        #000;

@btnFacebookBackground:             #3B5998;
@btnFacebookBackgroundHighlight:    #133783;
@btnTwitterBackground:              #2daddc;
@btnTwitterBackgroundHighlight:     #0271bf;
@btnGooglePlusBackground:           #2daddc;
@btnGooglePlusBackgroundHighlight:  #0271bf;
@btnGithubBackground:               #fafafa;
@btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-facebook {
  .button-variant(@btnText; @btnFacebookBackgroundHighlight; @btnFacebookBackgroundHighlight);
}
.btn-twitter {
  .button-variant(@btnText; @btnTwitterBackground; @btnTwitterBackgroundHighlight);
}
.btn-google-plus {
  .button-variant(@btnText; @btnGooglePlusBackground; @btnGooglePlusBackgroundHighlight);
}
.btn-github {
  .button-variant(@btnTextAlt; @btnGithubBackground; @btnGithubBackgroundHighlight);
}



.btn-google-plus {
  left: 50%;
  margin-left: -90px;
  margin-bottom: 100px;
  position: relative;
  font-family: Museo;
  font-weight: bold;
  letter-spacing: -1px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  .transition (background-color 0.2s ease);
}

.login-help-text {
  letter-spacing: -1.5px;
  margin: 50px 0 20px 0;
  text-align: center;
}

hr {
  border-bottom: 1px solid @gray-dark-2;
  border-top: 0;
}
