



  .json-editor-btn-delete{
    .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
  }



  .json-editor-btn-add{
    .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
  }


  .json-editor-btn-movedown, .json-editor-btn-moveup{
    .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);

  }






.movedown, .delete, .moveup {
	text-indent: -9999px;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	&:after {
		font-family: "FontAwesome";
		text-indent: 0;
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
	}
}

.delete {
	padding-left: 15px;
	padding-right: 15px;
	background: @muted-red !important;
	border-color: @muted-red-dark !important;
	&:after {
		content: "\f00d";
		top: 5px;
		left: 5px;
	}
	&:hover {
		background: @btn-danger-bg !important;
		border-color: @btn-danger-border !important;
	}
}

.movedown {
	color: @gray-light;
	&:after {
		content: "\f149";
		top: 5px;
		left: 10px;
	}
}

.moveup {
	color: @gray-light;
	&:after {
		content: "\f148";
		top: 5px;
		left: 10px;
	}
}

.btn-google-plus {
  left: 50%;
  margin-left: -90px;
  position: relative;
}
