

body.main {

  .footer-logo {
    img.solnet-logo:hover {
      opacity: 0.1;
      cursor: default;
    }
  }

}

.footer-logo {
  img.solnet-logo:hover {
    opacity: 0.3;
    cursor: pointer;
  }

}


.footer {
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
}

.footer-logo {

  margin-left: auto;
  margin-right: auto;

  img.solnet-logo {
    .transition(opacity 200ms ease);
    opacity: 0.1;
    width: 160px;
  }
}
