textarea {
	&.textarea-lg {
		height: 150px;
		@media (min-width: @screen-md) {
			height: 300px;
		}
	}
}





.ng-submitted {
  input.ng-invalid-required {
    border-color: @red-alert;
  }
}

input.ng-dirty.ng-invalid {
  border-color: @red-alert;
}
