.nav-tabs {
	border: 0 transparent;
	a {
		background-color: @gray-lighter;
		margin-top: 5px;
	}
}

.navbar {
	background-color: @gray-darker;
	border-bottom: 1px solid @gray-dark-2;
	font-family: Museo;
	font-weight: 500;
	letter-spacing: -0.5px;
	user-select: none;

	.username {
		cursor: default;
		span {
			font-weight: 700;
			margin-left: 4px;
			letter-spacing: -1px;
		}
	}
}

img.solnet-logo{
	width: 140px;
	margin-top: -4px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: @gray-dark-2;
	color: @grey-light-2;
	cursor: default;

}

.navbar-default .navbar-nav > li > a {
	.transition(color 0.2s ease);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {

	color: @grey-light-2;
}
