





#noty_center_layout_container {



  li {

    font-family: museo-b !important;


    margin-left: -45px !important;
    width: 400px !important;
    height: 140px !important;

    box-shadow: none !important;

    background-color: @gray-darker !important;
    border: 0 !important;
    border-radius: 0 !important;

    color: @grey-light-2 !important;

    .noty_bar{
      .noty_message {

      }
      position: relative !important;
      top: 20px !important;

    }

    .noty_buttons{

      background-color: @gray-darker !important;
      border: 0 !important;
      text-align: center !important;

      button {

        .transition(background-color 0.2s ease);
        color: @gray-darker !important;

        width: 30%;
        border-radius: 0 !important;
        border: 0 !important;
      }

    }

  }

}
