.well table {
	border: 0 transparent;
	th, tbody, td {
		border: 0 transparent !important;

	}
}

.editdocument table.table {
	width: 100% !important;
	td:last-child, th:last-child {
		width: 20%;
	}
}