@import 'bootstrap/less/variables.less';
@import 'less/variables.less';


@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// injector
@import 'account/login/login.less';
@import 'adduser/adduser.less';
@import 'admin/admin.less';
@import 'createdocument/createdocument.less';
@import 'createschema/createschema.less';
@import 'editdocument/content/contentdocument.less';
@import 'editdocument/history/edit/historyedit.less';
@import 'editdocument/history/historydocument.less';
@import 'editdocument/history/preview/historypreview.less';
@import 'editdocument/history/view/historyview.less';
@import 'editschema/editschema.less';
@import 'info/info.less';
@import 'jsonEditor/jsonEditor.less';
@import 'less/base.less';
@import 'less/buttons.less';
@import 'less/footer.less';
@import 'less/forms.less';
@import 'less/mixins.less';
@import 'less/nav.less';
@import 'less/notification.less';
@import 'less/tables.less';
@import 'less/typography-solnet.less';
@import 'less/typography.less';
@import 'less/variables.less';
@import 'main/main.less';
@import 'previewdocument/previewdocument.less';
@import 'select/select.less';
@import 'vendor/animate.vendor.less';
@import 'vendor/select-theme-chosen.less';
@import 'vendor/select-theme-dark.less';
@import 'vendor/select-theme-default.less';
@import 'vendor/snap.less';
// endinjector
