div(ng-include='"components/navbar/navbar.html"')


.container
  form.document-form
    label Link a new Google doc to the cms
    p.input-group

      input.form-control(type='text', placeholder='Name', ng-model='document.name')
      input.form-control(type='text', placeholder='Info', ng-model='document.info')
      input.form-control(type='text', placeholder='Google Doc Content Id e.g. 0B84YdCmz0nrQamtJTUJUVlpBOU0', ng-model='document.googleDocContentId')
      select.form-control(type='text',
            placeholder='Google Doc Schema Id e.g. 0B84YdCmz0nrQTl9tSHRYMXNmTFU',
            ng-model='document.schemaId',
            ng-options="schema._id as schema.name for schema in schemaList")

      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='newDocument()') Add New
