div(ng-include='"components/navbar/navbar.html"')

.create-document-container(ng-class='{"fade-in": fadeIn}')

  header#banner.hero-unit
    .container
      h3 Create document
      p Link a new Google Doc to the CMS
        br
        | &nbsp;



  .container


    form.document-form

      .col-sm-10.col-sm-offset-1
        .row
          .col-sm-4
            label Name
            input.form-control(type='text', placeholder='', ng-model='document.name')

        .row
          .col-sm-6
            label Production content id
            input.form-control(type='text', placeholder='E.g. 0B84YdCmz0nrQamtJTUJUVlpBOU0', ng-model='document.liveContentGoogleDocId')
          .col-sm-6
            label Development content id
            input.form-control(type='text', placeholder='E.g. 0B84YdCmz0nrQamtJTUJUVlpBOU0', ng-model='document.devContentGoogleDocId')

        .row
          .col-sm-8
            label Info
            input.form-control(type='text', placeholder='', ng-model='document.info')

          .col-sm-4
            label Type
            select.form-control(type='text',
            placeholder='Google Doc Schema',
            ng-model='document.schemaId',
            ng-options="schema._id as schema.name for schema in schemaList")




        .row
          .col-sm-6.col-sm-offset-3
            button.btn.btn-primary(type='submit', ng-click='newDocument()') Add New
