

span.fade
  button.btn.btn-warning(ng-click='toggleOptions()') Options
span.fade
  button.btn.btn-danger(ng-click='resetJson()') Reset

.row
  .col-lg-12
    .json-editor-root()
        .json-editor-anchor

