


.row
  .col-lg-12.json-editor-col
    .json-editor-root(ng-class='{"loaded": editorLoaded, "dirty": editorDirty}')

        h4.dirty-header
          i.fa.fa-pencil
          | Edited

        .json-editor-anchor

