

span.fade
  button.json-editor-btn(ng-click='resetJson()')
    i.fa.fa-ban
span.fade
  button.json-editor-btn(ng-click='toggleOptions()')
    i.fa.fa-cog

.row
  .col-lg-12
    .json-editor-root(ng-class='{"loaded": editorLoaded}')
        .json-editor-anchor

