

span
  button.json-editor-btn(ng-click='resetJson()')
    i.fa.fa-ban
span
  button.json-editor-btn(ng-click='toggleOptions()')
    i.fa.fa-cog

.row
  .col-lg-12
    .json-editor-root(ng-class='{"loaded": editorLoaded, "dirty": editorDirty}')
        h4.dirty-header edited
          i.fa.fa-pencil

        .json-editor-anchor

