



.no-touch {

  ul.item-list {
    li:hover {
      cursor: pointer;
      background-color: lighten(@gray-2, 20%);
    }
  }
}

body.main{


  h1 {
    color: @grey-light-2;
    border: 0;
    cursor: default;
    margin-left: 3px;
  }

  .blur-container {
    .transition(all 1s ease);
    &.blur {
      filter: blur(10px);
    }

  }

  ul.item-list {
    list-style: none;
    padding: 0;

    li {

      .transition(background-color 0.2s ease);

      a {
        color: @gray-darker;
        text-decoration: none;
      }

      font-weight: 600;
      font-size: 2em;
      padding: 10px 30px;

      margin: 0px 20px;
      background-color: @gray-2;

    }

    .close{

      .transition(all 0.2s ease);


      font-size: 1.3em;
      text-shadow: none;
      &:focus {outline:0;}
    }

  }


  .add-btn{
    float: right;
    margin: 45px 5px 20px;

    border-radius: 0;

    box-shadow: none;

    &:focus {outline:0;}

    min-width: 100px;
    

    .transition(all 0.2s ease);

    .button-variant(@grey-light-2; @gray-darker; @btnFacebookBackgroundHighlight);

    border: 0;

  }



  #banner {
    border-bottom: none;
    margin-top: -20px;
  }

  #banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .hero-unit {

    user-select: none;
    cursor: default;

    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: none;
    background: @gray-dark-2;
  }

  .footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
  }


}
