



.no-touch {

  ul.item-list {
    li:hover {
      cursor: pointer;
      background-color: #eee;
    }
  }
}

body.main{

  .transition(all 0.5s ease);

  .blur {
    filter: blur(10px);
  }

  ul.item-list {
    list-style: none;
    padding: 0;

    li {

      a {
        text-decoration: none;
      }

      font-weight: 600;
      font-size: 2em;
      padding: 10px 20px;

      margin: 0px 20px;
      background-color: #ddd;

    }

    .close{
      font-size: 1.3em;
    }

  }


  .add-btn{
    float: right;
    margin: 40px 0 20px;

    border-radius: 0;

  }



  #banner {
    border-bottom: none;
    margin-top: -20px;
  }

  #banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: none;
    background: @gray-dark-2;
  }

  .footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
  }


}
