
div(ng-class='{"fadeIn": fadeIn}')

  div(ng-include='"components/navbar/navbar.html"')

  header#banner.hero-unit
    .container
      h3 What you can edit
      p Inside our CMS we have a range of parts you can edit in our public facing website
        br
        | If you get stuck or cant find something call Solnet Support


  .container.height-100
    .row
      .documents.col-md-10.col-md-offset-1
        .row.list-title
          .col-xs-8
            h1.page-header Documents
          .col-xs-4(ng-if='isAdmin()')
            button.btn.btn-primary.btn-create(type='button', ng-click='createDocument()') +
              span &nbsp;Create


        .row
          ul.item-list.document-item-list(ng-repeat='document in documentList')
            li(ng-click='editDocument(document)', tooltip='{{document.info}}', ng-class='{"locked": document.lockedKey !== undefined}')
              a
                | {{document.name}}
                button.close(type='button', ng-click='deleteDocument($event, document)', ng-if='isAdmin()') ×


      .schemas.col-md-10.col-md-offset-1(ng-if="isAdmin()")
        .row.list-title
          .col-xs-8
            h1.page-header Schemas
          .col-xs-4
            button.btn.btn-primary.btn-create(type='button', ng-click='createSchema()') +
              span &nbsp;Create
        .row
          ul.item-list.schema-item-list(ng-repeat='schema in schemaList')
            li(ng-click='editSchema(schema)', tooltip='{{schema.info}}')
              a
                | {{schema.name}}
                button.close(type='button', ng-click='deleteSchema($event, schema)') ×






