







body.editdocument {

  .row.actions {
    margin-top: 30px;
    .btn {
      .transition(all 0.4s ease);
      opacity: 0;
    }
  }



  .fadeIn {
    .hero-unit{
      .container {
        opacity: 1;
      }
    }

    .row.actions {
      .btn {
        &:hover,
        &active {
          opacity: 1;
        }
        opacity: 0.7;
      }
    }

  }

  .hero-unit{
    .container {
      .transition(opacity 0.4s ease);
      opacity: 0;
    }
  }


  h1, h2, h3 {
    display: block;
    margin-top: 35px;
    font-weight: 400;
    font-family: museo;
  }



  .btn:hover,
  .btn:active{
    opacity: 1;
  }


  .btn-info {
    background-color: @medium-blue;
  }
  .btn-success {
    background-color: @lime-green-2;
  }

  .btn-danger {
    background-color: @red-alert;
  }

  .btn-warning {
    background-color: @orange-warning;
  }


  .btn {

    i {
      padding-right: 10px;
    }

    .transition(opacity 0.2s ease);

    font-size: 110%;
    padding: 10px 30px;
    margin: 10px 0px;
    border-radius: 0;
    border: 0;

    color: @gray-darker;

    &:focus {outline:0;}

    font-family: museo;
  }





}
