







body.editdocument {



  .row.actions {
    .btn {
      padding: 10px 0px;
      margin: 10px 0px;
      width: 100%;
    }
  }


  p.input-group{
    width: 100%;
    height: 100%;

  }




}
