div(ng-include='"components/navbar/navbar.html"')



.container




  .row.actions
    .col-sm-6
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='updateDocument()') Update
    .col-sm-6
      span.input-group-btn
        button.btn.btn-success(type='button', ng-click='previewDocument()') Preview (Update first)

  .row
    p.input-group
     div.json-editor


  .row.actions
    .col-sm-6
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='updateDocument()') Update
    .col-sm-6
      span.input-group-btn
        button.btn.btn-success(type='button', ng-click='previewDocument()') Preview (Update first)


  form.document-form.form
    .form-group
      label Document name
      input.form-control(type='text', placeholder='Name', ng-model='document.name')

    .form-group
      label Document info
      input.form-control(type='text', placeholder='Info', ng-model='document.info')

    .form-group
      label Live Google doc id
      input.form-control(type='text', placeholder='LIVE  :: Google Id e.g. 0B84YdCmz0nrQYVBZcHVkTVNTQjg', ng-model='document.liveContentGoogleDocId')

    .form-group
      label Dev Google doc id
      input.form-control(type='text', placeholder='DEV   :: Google Id e.g. 0B84YdCmz0nrQYVBZcHVkTVNTQjg', ng-model='document.devContentGoogleDocId')

    .form-group
      label Document content
      textarea.form-control(type='text', placeholder='Google doc content',class="textarea-lg", ng-model='documentContent')
