div(ng-include='"components/navbar/navbar.html"')



.container
  .row
    .col-md-6
      label Document name
      p.input-group
        input.form-control(type='text', placeholder='Name', ng-model='document.name')
      label Document info
      p.input-group
        input.form-control(type='text', placeholder='Info', ng-model='document.info')
    .col-md-6
      label Live Google doc id
      p.input-group
        input.form-control(type='text', placeholder='LIVE  :: Google Id e.g. 0B84YdCmz0nrQYVBZcHVkTVNTQjg', ng-model='document.liveContentGoogleDocId')
      label Dev Google doc id
      p.input-group
        input.form-control(type='text', placeholder='DEV   :: Google Id e.g. 0B84YdCmz0nrQYVBZcHVkTVNTQjg', ng-model='document.devContentGoogleDocId')

    //.col-md-8
        label Document content
        p.input-group
          textarea.formcontrol(type='text', placeholder='Google doc content', ng-model='documentContent')

  .row.actions
    .col-sm-6
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='updateDocument()') Update
    .col-sm-6
      span.input-group-btn
        button.btn.btn-success(type='button', ng-click='previewDocument()') Preview (Update first)

  .row
    p.input-group
     div.json-editor


  .row.actions
    .col-sm-6
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='updateDocument()') Update
    .col-sm-6
      span.input-group-btn
        button.btn.btn-success(type='button', ng-click='previewDocument()') Preview (Update first)
