







body.editdocument {


  .row.actions {

    .updating.btn.btn-update {
      i {
        opacity: 0;
      }
      .circle-loader {
        opacity: 0.8;
      }
    }

    .publishing.btn.btn-publish {
      i {
        opacity: 0;
      }
      .circle-loader {
        opacity: 0.8;

      }
    }



    .updating,
    .publishing,
    .dirty {
      &.btn {
        cursor: default;

        opacity: 0.7 !important;
        &:hover {
          opacity: 0.7 !important;
        }
        background-color: @gray !important;
      }
    }
  }



  .circle-loader {
    position: relative;
    float: right;
    left: -72px;
    opacity: 0;
    .transition(opacity 0.2s ease);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-top-color: #FFF;
    -webkit-animation: spin 1s infinite linear;
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }


  .row.actions {
    margin-top: 30px;
    .btn {
      .transition(all 0.4s ease);
      opacity: 0;
    }
  }



  .fadeIn {
    .hero-unit{
      .container {
        opacity: 1;
      }
    }

    .row.actions {
      .btn {
        &:hover,
        &active {
          opacity: 1;
        }
        opacity: 0.7;
      }
    }
  }

  .hero-unit{
    .container {
      .transition(opacity 0.4s ease);
      opacity: 0;
    }
  }


  .still-loading-container {
    opacity: 0;

    .transition(opacity 0.2s ease);
    position: absolute;
    &.still-loading {
      opacity: 1;
    }
    text-align: center;
    left: 0;
  }

  h1, h2, h3 {
    display: block;
    margin-top: 35px;
    font-weight: 400;
    font-family: museo;
    letter-spacing: -1px;
  }



  input {
    opacity: @input-opacity;
  }

  .json-editor-row {
    min-height: 800px;
  }



  .btn:hover,
  .btn:active{
    opacity: 1;
  }


  .btn-info {
    background-color: @medium-blue;
  }
  .btn-success {
    background-color: @lime-green-2;
  }

  .btn-danger {
    background-color: @red-alert;
  }

  .btn-warning {
    background-color: @orange-warning;
  }

  .btn-update,
  .btn-publish {
    //need to offset the padding from the circle loader
    padding-right: 12px !important;
  }


  .btn {

    i {
      .transition(opacity 0.2s ease);
      opacity: 1;
      padding-right: 10px;
    }

    .transition(opacity 0.2s ease);

    padding: 10px 30px;
    margin: 10px 0px;
    border-radius: 0;
    border: 0;


    color: @gray-darker;

    &:focus {outline:0;}

    font-family: museo;
  }





}
