div(ng-class='{"fadeIn": fadeIn}')

  div(ng-include='"components/navbar/navbar.html"')

  header#banner.hero-unit
    .container
      h3 {{document.name}} History
      p yoyooyoyaa
        br
        | mooooaooaoa


  .container
    .row


