div(ng-class='{"fadeIn": fadeIn}')

  div(ng-include='"components/navbar/navbar.html"')

  header#banner.hero-unit
    .container
      h3 {{document.name}} {{historyEnv}} @ {{historyDocumentItem.modifiedDate | amCalendar}}
      p Here you can restore or preview this document
        br
        | restoring the document will override the current development version


  .container

    .row.actions
      .col-sm-6.actions-document
        span
          button.btn.btn-update.btn-info.btn-restore(ng-class='{"updating": isUpdating, "restoring": isRestoring}', type='submit', ng-click='updateDocument()')
            .circle-loader
            i.fa.fa-clock-o
            | Restore

        span
          a(ng-href='/previewdocument/{{document._id}}/preview', ng-click='previewDocumentHistory($event)', target="_blank")
            button.btn.btn-success.btn-preview(type='button', ng-class='{"updating": isUpdating || !previewReady, "getting-ready": ! previewReady}')
              .circle-loader
              i.fa.fa-search
              | Preview

    .row.json-editor-row

      .col-sm-12
        span.json-editor(editor-dirty='isDirty', editor-document='document', editor-disable-add='true', editor-read-only='true'
            editor-document-content='historyContent', editor-document-deferred='historyContentDeferred')



