div(ng-class='{"fadeIn": fadeIn}')

  div(ng-include='"components/navbar/navbar.html"')

  header#banner.hero-unit
    .container
      h3 {{document.name}} {{historyEnv}} History
      p Have a look through the history and comments of the document
        br
        | and choose to restore or preview a preview version


  .container
    .row
      .col-sm-12

        .row(ng-repeat='historyItem in documentHistory.items track by $index', ng-cloak='')
          h3 Edited by {{historyItem.lastModifyingUserName}} @ {{historyItem.modifiedDate | amCalendar}}





