div(ng-class='{"fadeIn": fadeIn}')

  div(ng-include='"components/navbar/navbar.html"')

  header#banner.hero-unit
    .container
      h3 {{document.name}} {{historyEnv}} History
      p Have a look through the history and comments of the document
        br
        | and choose to restore or preview a version


  .container

    .row.actions(ng-class='{"active": documentHistoryLoaded}')
      .col-sm-12
        span
          a(ng-href='/editdocument/{{document._id}}/history/dev', ng-click='')
            button.btn.btn-success(type='button', ng-class='')
              | Dev

        span
          a(ng-href='/editdocument/{{document._id}}/history/live', ng-click='')
            button.btn.btn-success(type='button', ng-class='')
              | Live

    .row
      .col-sm-12
        .history-loader.circle-loader(ng-class='{"active": ! documentHistoryLoaded}')
        .history-container
          .row(ng-repeat='historyItem in documentHistory.items.slice().reverse() track by $index', ng-cloak='')
            //TODO load on scroll bottom?
            div(ng-click='openHistory($event, historyItem)')
              h3(ng-if='documentHistory.items.length >= 100')
                | \#{{documentHistory.items.length - $index | numberpad:3}} Edited by {{historyItem.lastModifyingUserName}} @ {{historyItem.modifiedDate | amCalendar}}
              h3(ng-if='documentHistory.items.length < 100 && documentHistory.items.length >= 10')
                | \#{{documentHistory.items.length - $index | numberpad:2}} Edited by {{historyItem.lastModifyingUserName}} @ {{historyItem.modifiedDate | amCalendar}}
              h3(ng-if='documentHistory.items.length < 10')
                | \#{{documentHistory.items.length - $index}} Edited by {{historyItem.lastModifyingUserName}} @ {{historyItem.modifiedDate | amCalendar}}





