div.edit-document-container(ng-class='{"fadeIn": fadeIn}')

  div(ng-include='"components/navbar/navbar.html"')


  header#banner.hero-unit
    .container
      h3 Editing {{document.name}}
      p You're looking at the dev version
        br
        | Change it
        i.fa.fa-angle-right
        | Update it
        i.fa.fa-angle-right
        | Preview it
        i.fa.fa-angle-right
        | Publish it live


  .container
    .row.actions
      .col-sm-7.actions-document
        span
          button.btn.btn-update.btn-info(ng-class='{"updating": isUpdating, "publishing": isPublishing}', type='submit', ng-click='updateDocument()')
            .circle-loader
            i.fa.fa-save
            | Save

        span
          a(ng-href='/previewdocument/{{document._id}}', ng-click='previewDocument($event)', target="_blank")
            button.btn.btn-success(type='button', ng-class='{"updating": isUpdating, "publishing": isPublishing}')
              i.fa.fa-search
              | Preview

        span(ng-if='isAdmin()')
          button.btn.btn-publish.btn-warning(ng-class='{"dirty": isDirty, "updating": isUpdating, "publishing": isPublishing}', type='submit', ng-click='publishDocument()')
            .circle-loader
            i.fa.fa-paper-plane
            | Publish

      .col-sm-5.actions-editor
        span
          button.json-editor-btn(ng-click='resetEditor()')
            i.fa.fa-ban
            | Reset
        span
          button.json-editor-btn(ng-click='toggleEditorOptions()')
            i.fa.fa-cog
            | Options
        span
          button.json-editor-btn(ng-click='gotoHistory()')
            i.fa.fa-history
            | History



    .row.json-editor-row
      .col-sm-12.still-loading-container(ng-class='{"still-loading": stillLoadingMessage}')
        h2 Still loading
      .col-sm-12
        span.json-editor(editor-dirty='isDirty', editor-document='document', editor-reset='resetEditor', editor-toggle-options='toggleEditorOptions'
                editor-document-content='document.content', editor-document-deferred='getDocumentDeferred')



  //TODO Move to document info page
    //form.document-form.form(ng-show='isAdmin()')
      .form-group
        label Document name
        input.form-control(type='text', placeholder='Name', ng-model='document.name')

      .form-group
        label Document info
        input.form-control(type='text', placeholder='Info', ng-model='document.info')

      .form-group
        label Live Google doc id
        input.form-control(type='text', placeholder='LIVE  :: Google Id e.g. 0B84YdCmz0nrQYVBZcHVkTVNTQjg', ng-model='document.liveContentGoogleDocId')

      .form-group
        label Dev Google doc id
        input.form-control(type='text', placeholder='DEV   :: Google Id e.g. 0B84YdCmz0nrQYVBZcHVkTVNTQjg', ng-model='document.devContentGoogleDocId')

      //.form-group
        label Document content
        textarea.form-control(type='text', placeholder='Google doc content',class="textarea-lg", ng-model='documentContent')
