div.edit-document-container(ng-class='{"fadeIn": fadeIn}')


  header#banner.hero-unit
    .container
      h3 Editing {{document.name}}
      p
        br
        | Change it
        i.fa.fa-angle-right
        | Update it
        i.fa.fa-angle-right
        | Preview it
        i.fa.fa-angle-right
        | Publish it live

  .headroom.bottom-actions(headroom='', tolerance='5', offset='330',
        classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp","top":"headroom--top","notTop":"headroom--not-top"}')
    div(ng-include='"components/edit-actions/edit-actions.html"')


  div(ng-include='"components/edit-actions/edit-actions.html"')





  .container

    .row.json-editor-row
      .col-sm-12.still-loading-container(ng-class='{"still-loading": stillLoadingMessage}')
        h2 Still loading
      .col-sm-12
        span.json-editor(editor-dirty='isDirty', editor-document='document', editor-reset='resetEditor', editor-toggle-options='toggleEditorOptions',
                editor-disable-delete='false', editor-disable-reorder='true',
                editor-document-content='document.content', editor-document-deferred='getDocumentDeferred')



  //TODO Move to document info page
    //form.document-form.form(ng-show='isAdmin()')
      .form-group
        label Document name
        input.form-control(type='text', placeholder='Name', ng-model='document.name')

      .form-group
        label Document info
        input.form-control(type='text', placeholder='Info', ng-model='document.info')

      .form-group
        label Live Google doc id
        input.form-control(type='text', placeholder='LIVE  :: Google Id e.g. 0B84YdCmz0nrQYVBZcHVkTVNTQjg', ng-model='document.liveContentGoogleDocId')

      .form-group
        label Dev Google doc id
        input.form-control(type='text', placeholder='DEV   :: Google Id e.g. 0B84YdCmz0nrQYVBZcHVkTVNTQjg', ng-model='document.devContentGoogleDocId')

      //.form-group
        label Document content
        textarea.form-control(type='text', placeholder='Google doc content',class="textarea-lg", ng-model='documentContent')
