.container
  .row.actions
    .col-sm-9.actions-document
      span
        a(ng-href='/previewdocument/{{document._id}}/{{isDevPreview ? "dev" : "preview"}}', ng-click='previewDocument($event)', target="_blank")
          button.btn.btn-success.btn-preview(type='button', ng-class='{"updating": isUpdating || isPreviewLoading, "publishing": isPublishing, "preview-loading": isPreviewLoading}')
            .circle-loader
            i.fa.fa-search
            //span 2 |
            span(class='hidden-md hidden-lg hidden-xl') Preview
            span(class='hidden-xs hidden-sm') Preview {{document.name}}

      span(ng-if='isEditor() || isPublisher() || isAdmin()')
        button.btn.btn-update.btn-info.btn-save(ng-class='{"updating": isUpdating, "publishing": isPublishing}', type='submit', ng-click='updateDocument()')
          .circle-loader
          i.fa.fa-save
          //i 1.
          span(class='hidden-md hidden-lg hidden-xl') Save
          span(class='hidden-xs hidden-sm') Save {{document.name}}

      span(ng-if='isPublisher() || isAdmin()')
        button.btn.btn-publish.btn-warning(ng-class='{"dirty": isDirty, "updating": isUpdating, "publishing": isPublishing}', type='submit', ng-click='publishDocument()')
          .circle-loader
          i.fa.fa-paper-plane
          span(class='hidden-md hidden-lg hidden-xl') Publish
          span(class='hidden-xs hidden-sm') Publish {{document.name}}

    .col-sm-3.actions-editor
      //span
        button.json-editor-btn(ng-click='resetEditor()')
          i.fa.fa-ban
          | Reset
      //span
        button.json-editor-btn(ng-click='toggleEditorOptions()')
          i.fa.fa-cog
          | Options
      span(class='hidden-xs')
        button.json-editor-btn(ng-click='gotoHistory()')
          i.fa.fa-history(class='hidden-md hidden-lg hidden-xl') &nbsp;History
          i.fa.fa-history(class='hidden-xs hidden-sm') &nbsp;View {{document.name}} History

