div(ng-class='{"fadeIn": fadeIn}')

  div(ng-include='"components/navbar/navbar.html"')

  header#banner.hero-unit
    .container
      h3 {{document.name}} {{historyEnv}} History
      p Have a look through the history and comments of the document
        br
        | and choose to restore or preview a version


  .container

    .row.actions(ng-class='{"active": documentHistoryLoaded}')
      .col-sm-12

        //TODO get list of avalible env from server or server config...
        //TODO get list of avalible env from server or server config...
        //TODO get list of avalible env from server or server config... + ng-repeat
        //TODO get list of avalible env from server or server config...

        span
          a(ng-href='/editdocument/{{document._id}}/history/dev', ng-click='changeEnv($event, "dev")')
            button.btn.btn-success(type='button', ng-class='{"active": historyEnv === "dev"}')
              | Dev

        span
          a(ng-href='/editdocument/{{document._id}}/history/live', ng-click='changeEnv($event, "live")')
            button.btn.btn-success(type='button', ng-class='{"active": historyEnv === "live"}')
              | Live

    .row
      .col-sm-12
        .history-loader.circle-loader.circle-loader-large(ng-class='{"active": ! documentHistoryLoaded}')
        .history-container

          //TODO abstract main styling
          //TODO abstract main styling
          //TODO abstract main styling
          //TODO abstract main styling

          .row(ng-repeat='historyItem in documentHistory.items track by $index', ng-cloak='')

            //TODO load on scroll bottom?
            //TODO load on scroll bottom?
            //TODO load on scroll bottom?
            //TODO load on scroll bottom?

            div.history-link(ng-click='openHistory($event, $index, historyItem)')
              h3(ng-if='documentHistory.items.length >= 100')
                | \#{{documentHistory.items.length - $index | numberpad:3}} Edited by {{historyItem.lastModifyingUserName}} @ {{historyItem.modifiedDate | amCalendar}}
              h3(ng-if='documentHistory.items.length < 100 && documentHistory.items.length >= 10')
                | \#{{documentHistory.items.length - $index | numberpad:2}} Edited by {{historyItem.lastModifyingUserName}} @ {{historyItem.modifiedDate | amCalendar}}
              h3(ng-if='documentHistory.items.length < 10')
                | \#{{documentHistory.items.length - $index}} Edited by {{historyItem.lastModifyingUserName}} @ {{historyItem.modifiedDate | amCalendar}}





