div(ng-class='{"fadeIn": fadeIn}')

  div(ng-include='"components/navbar/navbar.html"')

  header#banner.hero-unit
    .container
      h3 {{document.name}} History
      p Have a look through the history and comments of the document
        br
        | and choose to restore or preview a version


  .container

    .row.actions(ng-class='{"active": documentHistoryLoaded}')
      .col-sm-12

        //TODO get list of avalible env from server or server config...
        //TODO get list of avalible env from server or server config...
        //TODO get list of avalible env from server or server config... + ng-repeat
        //TODO get list of avalible env from server or server config...

        span
          a(ng-href='/editdocument/{{document._id}}/history/dev', ng-click='changeEnv($event, "dev")')
            button.btn.btn-success(type='button', ng-class='{"active": historyEnv === "dev"}')
              | Demo

        span
          a(ng-href='/editdocument/{{document._id}}/history/live', ng-click='changeEnv($event, "live")')
            button.btn.btn-success(type='button', ng-class='{"active": historyEnv === "live"}')
              | Live

    .row
      .col-sm-8.col-sm-offset-2
        .history-loader.circle-loader.circle-loader-large(ng-class='{"active": ! documentHistoryLoaded}')
        .history-container(ng-class='{"loaded": documentHistoryLoaded}')

          //TODO abstract main styling
          //TODO abstract main styling
          //TODO abstract main styling
          //TODO abstract main styling

          .row.history-row(ng-repeat='historyItem in documentHistory.items track by $index',
                      ng-cloak='', ng-click='openHistory($event, $index, historyItem)')

            //TODO load on scroll bottom?
            //TODO load on scroll bottom?
            //TODO load on scroll bottom?
            //TODO load on scroll bottom?

            div.history-link
              div(ng-if='documentHistory.items.length >= 100')
                span.col-sm-1.index-number
                  h3 {{documentHistory.items.length - $index | numberpad:3}}
                span.col-sm-7.history-date
                  h3 {{historyItem.modifiedDate | amCalendar}}
                span.col-sm-4.history-name
                  h3 {{historyItem.lastModifyingUserName}}
              div(ng-if='documentHistory.items.length < 100 && documentHistory.items.length >= 10')
                span.col-sm-1.index-number
                  h3 {{documentHistory.items.length - $index | numberpad:2}}
                span.col-sm-7.history-date
                  h3 {{historyItem.modifiedDate | amCalendar}}
                span.col-sm-4.history-name
                  h3 {{historyItem.lastModifyingUserName}}
              div(ng-if='documentHistory.items.length < 10')
                span.col-sm-1.index-number
                  h3 {{documentHistory.items.length - $index}}
                span.col-sm-7.history-date
                  h3 {{historyItem.modifiedDate | amCalendar}}
                span.col-sm-4.history-name
                  h3 {{historyItem.lastModifyingUserName}}





