




body.editdocument.history.edit {




  .history-row {


    .index-number {
      h3 {
        color: @charcoal-lightest;
        font-family: museo;
      }

    }

    .history-name {
      h3 {

      }
    }

    .history-date {
      h3 {
        color: @gray-light;
        font-family: museo;
      }
    }


    .transition(background-color 0.2s ease);

    &:hover {
      cursor: pointer;

      div, h3 {
        cursor: pointer;
      }

      background-color: @charcoal-lighter;
    }

    h3 {
      display: inline-block;
      margin-bottom: 12px;
    }


    border-bottom: 1px @charcoal-lighter solid;


  }






}
